<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Share your moments.</h1>
        <p class="splash-subhead">
            We believe that great moments should be shared with the world.
        </p>
        <p>
            <a href="/signup" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>


<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">BSocius makes it easy to:</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-share"></i>
                    Connect With Your Audiance
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-cloud"></i>
                    Store And Organize Your Media
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-camera"></i>
                    Share Your Image Stream
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-video-camera"></i>
                    Share Your Video Stream
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="images/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Share your great moments with the world.</h2>

            <p>
                We make it easy, to upload, process and edit your files, so that you could share your important moments.
                Get your <strong><a style="color: rgb(230, 230, 230)" href="/signup">Beta Invite</strong></a> now.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Sign up for BSocius. Star Connecting with your audiance.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Username</label>
                        <input id="name" type="text" placeholder="Your Username">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    The most easiest way to contact us, is to pay us a visit in the irc channel #BSocius at irc.freenode.net.
                </p>

                <h4>More Information</h4>
                <p>
                   More information will be made available through our blog. Progress on development could be followed via our <a href="">gitub account</a>.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        BSocius is an opensource project. Code is available at github.com
    </div>

</div>