<div class="splash-container">
	<div class="splash">
		<h1 class="splash-head">Share your moments.</h1>
		<p class="splash-subhead">
			We believe that great moments should be shared with the world.
		</p>
		<p>
			<a href="/about" class="pure-button pure-button-primary">Learn more</a>
		</p>
	</div>
</div>


<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center">bSocius makes it easy to:</h2>

		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

				<h3 class="content-subhead">
					<i class="fa fa-share"></i>
					Connect With Your audience
				</h3>
				<p>
					Connect directly with with your audience by publishing high quality photo and video.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

				<h3 class="content-subhead">
					<i class="fa fa-cloud"></i>
					Organize Your Media
				</h3>
				<p>
					Store and organize your media in the cloud or on your local server.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-camera"></i>
					Share Your Image Stream
				</h3>
				<p>
					We make it easy to share your photo or video streams to the world or in private.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-github"></i>
					Developed Open Source
				</h3>
				<p>
					bSocius, is an open source project, host bsocius in the cloud or install it on your local machine.
				</p>
			</div>
		</div>
	</div>

	<div class="ribbon l-box-lrg pure-g">
		<div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
			<img class="pure-img-responsive" alt="File Icons" width="300" src="images/file-icons.png">
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

			<h2 class="content-head content-head-ribbon">Share your great moments with the world.</h2>

			<p>
				We make it easy, to upload, process and edit your files, so that you could share your important moments.
				
			</p>
		</div>
	</div>

	<div class="content">
		<h2 class="content-head is-center">get your beta invite for bSocius. Start Connecting with your audience.</h2>

		<div class="pure-g">
			<div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form action="/user/create/" class="pure-form pure-form-stacked" method="POST">

					<fieldset>

						<!-- <label for="name">Your Username</label>
						<input id="name" type="text" placeholder="Your Username"> -->


						<label for="email">Your Email</label>
						<input id="email" type="email" placeholder="Your Email" name="email">

						<!-- <label for="password">Your Password</label>
						<input id="password" type="password" placeholder="Your Password"> -->

						<button type="submit" class="pure-button">Sign Up</button>
					</fieldset>
				</form>
			</div>

			<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
				<h4>Contact Us</h4>
				<p>
					The most easiest way to contact us, is to pay us a visit in the irc channel #bsocius at irc.freenode.net.
				</p>

				<h4>More Information</h4>
				<p>
				   More information will be made available through our blog. Progress on development could be followed via our <a href="https://github.com/bSocius-development">gitub account</a>.
				</p>
			</div>
		</div>

	</div>

	<div class="footer l-box is-center">
		bSocius is an opensource project. Code is available at <a href="https://github.com/bSocius-development">github.com</a> 
	</div>

</div>