<div id="main">
        <div class="header">
            <h1>bSocius</h1>
            <h2>An opensource media sharing tool</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">What is bSocius?</h2>
            <p>
                bSocius, is a simple, outstanding, open source media management tool. The tool is designed for receiving, organizing and publishing live photo and video content. So that you could share your greatest moments with your audience as quickly as possible.
            <p> 
                We are building bSocius as an open source alternative to other comparable services. Those services with a few exceptions are driven for revenue by selling your information to advertisers. We believe that bSocius could be an alternative for those services. <strong>With bSocius, you are in control of your data and we will never sell your information to advertisers.</strong> 
            </p>  

            <h2 class="content-subhead">How does bSocius Work?</h2>
            <h3 class="content-subhead-small">A simple use case, J-Festival</h3>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="../images/singer.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="../images/stage.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="../images/hands.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="../images/back.jpg" alt="Mountain">
                </div>
            </div>
            <p>
                Let's set the stage for J-Festival, a three day yearly music festival. J-Festival wants to share a live photo and video stream and have those published as quickly as possible. In order to accomplish that, they hire three photographers where two of those photographers will be responsible for shooting video. Everything goes great until the first photographer delivers the photo via Dropbox. The second photographer delivers the photo's via google drive. And our third photographer has his own FTP server where we have to download those images manually. Now you have to manually sort and pick the images and or video you want, add relevant metadata, maybe write a small blog post, so that you or your team could publish it online. 
            </p>

            <p>
                bSocius provides a central hub for your content creators. They can now upload their content to your private hub. This could be done by via a web based interface, FTP, Dropbox, or connection there Google Drive to your private hub. Our smart algorithms are able to quickly sort those files into meaningful categories based on predefined filters and meta data. You will be able to quickly pick those images that capture those moments you want to share with the world, or to a private group. Also publishing your content on various social media is very easy with bSocius. You could simply create different media channels for publishing.     
            </p>

            <div class="pure-g">
                    <div class="pure-u-1-1">
                        <img class="pure-img" src="../images/LPmedia.png" alt="central station">
                    </div>
            </div>

            <h2 class="content-subhead"> <i class="fa fa-rocket"></i> We need help!</h2>
            <p>
                Since bSocius is developed as an open source project we are open for everybody who wants to join and help bSocius to become a great tool for sharing great moments with the world. So, if you are a developer, designer, translator, or somebody who is willing to submit bug reports. Please visit our <i class="fa fa-github"> </i> <a href="https://github.com/bSocius-development">github repo</a> or join us at <strong>#bSocius at irc.freenode.net</strong>. And let this be a great journey for all of those who are willing to help out and make bSocius the best tool for sharing moments.
            </p>
        </div>
    </div>
</div>
